.home{
    display: flex;
    background-color: lightgoldenrodyellow;
   justify-content: center;
   align-items: center;
    width:50%;
    height:50vh;
    flex-direction: column;
}
.home button{
    width:10%;
}
.modalcontainer
{
    position:absolute;
    background-color: rgba(223, 52, 52, 0.7);
    width:100%;
    height: 100vh;
}