/* Login Page Styling */

.labelstyle {
  text-align: center;
}

.container {
  border: 2px solid black;
  background-color: lightcyan;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2%;
}
.userstyle {
  text-align: center;
  color: blue;
}
.userstyle:hover {
  color: red;
}
.textstyle {
  margin-bottom: 20px;
  margin-left: 10px;
}
.btn {
  background-color:cadetblue;
  color: whilte;
}
.errormessage {
  color: red;
}

/* Dashboard styling */

.dashtop {
  text-align: right;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  font-weight: 700;
  background-color:gainsboro;
  width:100%;
  height: 10vh;
  
 
}
.sidebar {
  width: 100%;
}
.menu {
  width: 10%;
  list-style: none;
  height: 100vh;
  background-color:gainsboro;
  float: left;
}
.menu li{
    text-align: center;
    font-size:large;
    padding-left: 10px;
    padding-top: 10px;
}
.menu li:hover {
  background-color: blue;
  color: white;
}

/* signup page */

.h1 {
  color: black;
  text-align: center;

}

.h4 {
  color: gray;
  text-align: center;
}

.innerconatiner {
  text-align: justify;
  padding: 5px;
  /* width: 120%;
  content: "/a";
  white-space: pre; */

}

.innerconatiner select {
  width: 100%;
}

.formclass {
  background-color: beige;


}

.outercontainer {
  height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: 20%;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  position: fixed;

}

.formelement {
  width: 50%;
  float: left;
  line-height: 2;
}

.formelement.fname {
  width: 55%;
  margin-left: 150px;


}

.formelement.lname {
  width: 40%;


}

.formelement3 {
  width: 100%;

}

.formelement2 {
  width: 100%;
  line-height: 2;

}

.formelement2.add {
  width: 50%;
}

.formelement2.apt {
  width: 70%;
}

/* .formelement select
{
  width:60%;
  padding:2px 0;
} */
.formelement.pin {
  width: 50%;
}

.formelement4 {
  float: left;
  line-height: 2;
  width: 33%;
}

.selectclass {
  width: 90%;
}
.formelementfortext
{
  width:100%;
}
.btn1
{
  text-align: right;
  
}
.link
{
  color: blue;
}
.link:hover
{
  color:brown;
}
/* tabledesign  dashboard*/
.tabledesign
{
  
  border-width: 100%;
  
}
.tabledesign td,tr{
  border: 1px solid antiquewhite;
  padding: 8px;
  width:34%;
}
.tabledesign th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:cadetblue;
  color: white;
  
}